@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  background-color: rgb(38, 64, 101);
  border-radius: 28px;
  color: white;
  padding: 10px 34px;
}
@media (max-width: 1280px) and (min-width: 1025px) {
  .button {
    padding: 12px 30px;
  }
}

header.header-principal {
  padding-top: 30px;
  padding-left: 124px;
  margin-bottom: 15px;
}

.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_header-logo img {
  width: 180px;
}
.container_header-nav-principal {
  display: flex;
  gap: 50px;
  font-size: 16px;
  font-weight: 100;
  margin-left: -35px;
}
.container_header-nav-principal-desplegable-submenu {
  display: none;
  position: absolute;
  background: white;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.container_header-nav-segundary {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 246px;
}
.container_header-nav-segundary-icon {
  display: flex;
  gap: 25px;
  position: relative;
  left: 17px;
}
.container_header-nav-segundary-icon img {
  width: 25px;
}
.container_header-nav-segundary-login {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  left: 75px;
}
.container_header-nav-segundary-login a {
  font-size: 16px;
  font-weight: 100;
}
.container_header-nav-segundary-login a.nav_segundary-login-up {
  display: inline-block;
  background-color: rgb(38, 64, 101);
  border-radius: 28px;
  color: white;
  padding: 10px 34px;
}
@media (max-width: 1280px) and (min-width: 1025px) {
  .container_header-nav-segundary-login a.nav_segundary-login-up {
    padding: 12px 30px;
  }
}
.container_header-nav-segundary-login a.nav_segundary-login-in {
  text-decoration: underline;
}

#menu-toggle {
  color: rgb(38, 64, 101);
}

#menu-toggle:checked + label + .container_header-nav-principal-desplegable-submenu {
  display: block;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 124px;
  line-height: 20px;
}
.hero_text_title {
  font-size: 67px;
  color: rgb(38, 64, 101);
  line-height: 77px;
  max-width: 90%;
  margin-bottom: 40px;
}
.hero_text_subtitle {
  color: rgb(144, 144, 144);
  font-size: 25px;
  line-height: 40px;
  max-width: 90%;
  margin-bottom: 50px;
}
.hero_text_buttons {
  display: flex;
  align-items: center;
  gap: 52px;
  font-size: 16px;
  margin-bottom: 126px;
}
.hero_text_productos {
  display: flex;
  align-items: center;
  background-color: white;
  gap: 83px;
  max-width: 74%;
  padding: 30px 40px;
}
.hero_text_productos li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 20%;
  margin-bottom: 40px;
}
.hero_text_productos-img {
  width: 64%;
  margin-bottom: 26px;
  position: relative;
}
.hero_text_productos-title {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 33px;
  color: rgb(38, 64, 101);
  margin-bottom: 26px;
}
.hero_text_productos-subtitle {
  color: rgb(144, 144, 144);
  max-width: -1%;
}
.hero_woman img {
  position: relative;
  right: 556px;
  bottom: 76px;
  width: 158%;
  width: 158%;
}

.article-1 {
  width: 397px;
  height: 218px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5%;
  position: relative;
  left: 1461px;
  bottom: 680px;
}
.article-1 span {
  color: rgb(38, 64, 101);
  font-weight: bold;
}
.article-1 p {
  font-size: 18px;
  padding: 20px;
  margin-top: -37px;
}
.article-1 img {
  padding: 15px 20px;
  width: 65px;
}
.article-2 {
  width: 397px;
  height: 218px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5%;
  position: relative;
  left: 1359px;
  bottom: 578px;
}
.article-2 span {
  color: rgb(38, 64, 101);
  font-weight: bold;
}
.article-2 p {
  font-size: 18px;
  padding: 20px;
  margin-top: -37px;
}
.article-2 img {
  width: 65px;
  padding: 15px 20px;
}

html * {
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  background-image: url(../img/imagen.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

a {
  text-decoration: none;
  color: rgb(38, 64, 101);
}

li {
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
