@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  background-color: rgb(38, 64, 101);
  border-radius: 28px;
  color: white;
  padding: 16px 34px;
}

.logo img {
  width: 100%;
}

header.header-principal .container {
  width: 100%;
  position: relative;
  margin-bottom: 70px;
  margin-left: 60px;
  display: flex;
  justify-content: space-between;
}
header.header-principal .container .logo {
  width: 250px;
}

.nav_principal > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 51px;
  font-size: 18px;
  font-weight: 300;
  position: relative;
  right: 200px;
}

.nav_principal-desplegable-submenu {
  display: none;
}
.nav_principal-desplegable-submenu .nav_principal-desplegable-submenu:hover {
  display: block;
}

.nav_segundary ul,
.nav_segundary {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 30px;
}
.nav_segundary ul .nav_segundary-icon,
.nav_segundary .nav_segundary-icon {
  position: relative;
  right: 410px;
}
.nav_segundary ul .nav_segundary-login,
.nav_segundary .nav_segundary-login {
  width: 231px;
  position: relative;
  right: 370px;
  bottom: 15px;
  align-items: center;
}
.nav_segundary ul .nav_segundary-login-up,
.nav_segundary .nav_segundary-login-up {
  display: inline-block;
  background-color: rgb(38, 64, 101);
  border-radius: 28px;
  color: white;
  padding: 16px 40px;
}
.nav_segundary ul .nav_segundary-login-in,
.nav_segundary .nav_segundary-login-in {
  text-decoration: underline;
}

.hero {
  display: block;
  justify-content: space-between;
  margin-left: 60px;
  margin-top: 60px;
  line-height: 20px;
}
.hero_title {
  line-height: 75px;
  word-spacing: 1px;
  margin-bottom: 20px;
  font-size: 64px;
  color: rgb(38, 64, 101);
  max-width: 45%;
}
.hero_subtitle {
  line-height: 41px;
  margin-bottom: 50px;
  color: rgb(144, 144, 144);
  font-size: 20px;
  max-width: 38%;
}
.hero_woman img {
  position: relative;
  bottom: 596px;
  left: 246px;
  width: 75%;
}
.hero_buttons {
  display: flex;
  align-items: center;
  width: 1000px;
  gap: 66px;
  margin-bottom: 100px;
}
.hero_productos {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 50px;
  position: relative;
  bottom: 920px;
}
.hero_productos-img {
  width: 30%;
  margin-bottom: 35px;
}
.hero_productos-title {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 33px;
  color: rgb(38, 64, 101);
  margin-bottom: 20px;
}
.hero_productos-subtitle {
  color: rgb(144, 144, 144);
  max-width: 65%;
}

.hero_productos li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.article {
  max-width: 18%;
}
.article-1 {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5%;
  position: relative;
  left: 1242px;
  bottom: 1353px;
}
.article-1 span {
  color: rgb(38, 64, 101);
  font-weight: bold;
}
.article-1 p {
  font-size: 16px;
  padding: 20px;
  margin-top: -15px;
}
.article-1 img {
  margin-top: 20px;
  margin-left: 20px;
}
.article-2 {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5%;
  position: relative;
  left: 1116px;
  bottom: 1304px;
}
.article-2 span {
  color: rgb(38, 64, 101);
  font-weight: bold;
}
.article-2 p {
  font-size: 16px;
  padding: 20px;
  margin-top: -15px;
}
.article-2 img {
  margin-top: 20px;
  margin-left: 20px;
}

html * {
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  background-image: url(../img/imagen.png);
  height: 71vh;
  background-repeat: no-repeat;
  background-size: 87%;
}

.contenedor-principal {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

a {
  text-decoration: none;
  color: rgb(38, 64, 101);
}

li {
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
