@use "../abstracts/variables" as *;


@mixin breakpoint($point) {
  @if $point == largedesktop {
    @media (max-width: 1920px) and (min-width: 1441px) {
      @content;
    }
  }
  @if $point == desktop {
    @media (max-width: 1440px) and (min-width: 1281px) {
      @content;
    }
  }
  @if $point == smalldesktop {
    @media (max-width: 1280px) and (min-width: 1025px) {
      @content;
    }
  }  
  @else if $point == tablet {
    @media (max-width: 1024px) and (min-width: 767px) {
      @content;
    }
  }
   @else if $point == tabletvertical {
    @media (max-width: 768px) and (min-width: 376px) {
      @content;
    }
  } 
 
    @else if $point == mobile {
    @media (max-width: 375px) and (min-width: 320px) {
      @content;
    }
  }


  //------------------------------

  @else if $point == mobileandrotate {
    @media (max-width: 767px) and (min-width: 320px) {
      @content;
    }
  } 

  @else if $point == mobileiphone {
    @media (max-width: 480px) and (min-width: 320px) {
      @content;
    }
  }

   
  @else if $point == smallmobile {
    @media (max-width: 650px) and (min-width: 568px) {
      @content;
    }
  } 
    @else if $point == rotate {
    @media (max-height: 550px) and (min-height: 0) {
      @content;
    }
  }
}

@mixin button() {
  display: inline-block;
  background-color: $blue;
  border-radius: 28px;
  color: white;
  padding: 10px 34px;
  @include breakpoint(smalldesktop) {
    padding: 12px 30px;

  }

}
