@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

header.header-principal {
  overflow-x: hidden;
  background-image: url(../img/imagen.png);
  height: 75vh;
  width: 178vh;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 33px;
  padding-left: 163px;
  @include breakpoint(desktop) {
    height: 69vh;
    width: 160vh;
  }
  @include breakpoint(smalldesktop) {
    height: 75vh;
    width: 178vh;
  }
}

.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo {
    margin-left: 20px;
    img {
      width: 212px;
      @include breakpoint(desktop) {
        width: 150px;
      }
      @include breakpoint(smalldesktop) {
        width: 130px;
      }
    }
  }
  &-nav-principal {
    display: flex;
    gap: 60px;
    font-size: 16px;
    margin-left: -63px;
    @include breakpoint(desktop) {
      gap: 40px;
      font-size: 14px;
    }
    @include breakpoint(smalldesktop) {
      gap: 39px;
      font-size: 12px;
      margin-left: -65px;

    }

    &-desplegable-submenu {
      display: none;
      position: absolute;
      background: white;
      padding: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
  }

  &-nav-segundary {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 33px;
    margin-right: 177px;

    @include breakpoint(desktop) {
      font-size: 14px;
      margin-right: 59px;
    }
    @include breakpoint(smalldesktop) {
      font-size: 16px;
      display: flex;
      align-items: center;
      margin-right: 248px;
      gap: 0;
    }

    &-icon {
      display: flex;
      gap: 25px;
      width: 100px;
      img {
        @include breakpoint(desktop) {
          width: 26px;
        }
        @include breakpoint(smalldesktop) {
          width: 17px;
        }
      }
    }

    &-login {
      display: flex;
      align-items: center;
      gap: 45px;
      @include breakpoint(smalldesktop) {
        margin-right: -130px;
        gap: 20px;
      }

      a {
        @include breakpoint(desktop) {
          font-size: 14px;
          margin-right: 13px;
        }
        @include breakpoint(smalldesktop) {
          font-size: 12px;
          margin-right: 0px;
        }
      }
      a.nav_segundary-login-up {
        @include button();
        display: inline-block;
        background-color: $blue;
        border-radius: 28px;
        color: white;
        padding: 16px 40px;
     
      }
      a.nav_segundary-login-in {
        text-decoration: underline;
      }
    }
  }
}

#menu-toggle {
  color: $blue;
}

#menu-toggle:checked
  + label
  + .container_header-nav-principal-desplegable-submenu {
  display: block;
}
