@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

header.header-principal {
  padding-top: 30px;
  padding-left: 124px;
  margin-bottom: 15px;

}

.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo {
    img {
      width: 180px;
   
    }
  }
  &-nav-principal {
    display: flex;
    gap: 50px;
    font-size: 16px;
    position: relative;
    overflow: visible;

    &-desplegable {
      color: $blue;
      position: relative;
      z-index: 10;

      #menu-toggle {
        position: absolute;
        left: -9999px; 
      }

      label {
        cursor: pointer;
        user-select: none;
      }

      .container_header-nav-principal-desplegable-submenu {
        display: none;
        position: absolute;
        background: white;
        padding: 10px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        margin-top: 10px;
        z-index: 20;

      }

      #menu-toggle:checked ~ .container_header-nav-principal-desplegable-submenu {
        display: block;
      }
    } 
  }

  &-nav-segundary {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 246px;

   

    &-icon {
      display: flex;
      gap: 25px;
      position: relative;
      left: 17px;
      img {
        width: 25px;
     
      }
    }

    &-login {
      display: flex;
      align-items: center;
      gap: 30px;
      position: relative;
      left: 75px;
     

      a {
        font-size: 16px;
        font-weight: 100;

    
      }
      a.nav_segundary-login-up {
        @include button();
     
      }
      a.nav_segundary-login-in {
        text-decoration: underline;
      }
    }
  }
}




