@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

header.header-principal {
  overflow-x: hidden;
  background-image: url(../img/imagen.png);
  height: 69vh;
  width: 168vh;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 33px;
  padding-left: 163px;
}

.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo {
    img {
      width: 212px;
      @include breakpoint(desktop) {
        width: 150px;
      }
    }
  }
  &-nav-principal {
    display: flex;
    gap: 60px;
    font-size: 16px;
    margin-left: -63px;
    @include breakpoint(desktop) {
      gap: 40px;
      font-size: 16px;
    }
 
    &-desplegable-submenu {
      display: none;
      position: absolute;
      background: white;
      padding: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
  }

  &-nav-segundary {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 60px;
    margin-right: 130px;
    @include breakpoint(desktop) {
      margin-right: 88px;
      gap: 0;
    }

    &-icon {
      display: flex;
      gap: 25px;
      width: 120px;
      img {
        @include breakpoint(desktop) {
          width: 26px;
        }
      }
    }

    &-login {
      display: flex;
      align-items: center;
      gap: 45px;
      @include breakpoint(desktop) {
        gap: 15px;
      }
      
      a {
        @include breakpoint(desktop) {
          font-size: 16px;
          margin-right: 20px;
        }
      }
      a.nav_segundary-login-up {
        @include button();
        display: inline-block;
        background-color: $blue;
        border-radius: 28px;
        color: white;
        padding: 16px 40px;
      }
    }
  }
}

#menu-toggle{
  color: $blue;
}

#menu-toggle:checked
  + label
  + .container_header-nav-principal-desplegable-submenu {
  display: block;
}
