@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 124px;
  line-height: 20px;

  &_text {
    &_title {
      font-size: 55px;
      color: $blue;    
  }

    &_subtitle {
      color: $gray;
      font-size: 24px;
  }

    &_buttons {
      display: flex;
      align-items: center;
      gap: 52px;
      font-size: 16px;
  
  }
    
  &_productos {
    width: 35%;
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: white;

    &-img {
      width: 30%;
      margin-bottom: 26px;
      position: relative;
   
    }
    &-title {
      font-family: $primary-font;
      font-weight: normal;
      font-size: 33px;
      color: $blue;
      margin-bottom: 26px;
    }
    
    
    &-subtitle {
      color: $gray;
      max-width: 65%;
    
    }
  }
  
}
&_woman img {
  position: relative;
  width: 100%;
}

.hero_productos li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.article {
  margin-top: 10px;
  position: relative;
  left: 83px;
  bottom: 26px;

 
  &-1 {
    width: 397px;
    height: 218px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5%;
    position: relative;
    left: 1369px;
    bottom: 1385px;
  
    span {
      color: $blue;
      font-weight: bold;
    }
    p {
      font-size: 18px;
      padding: 20px;
      margin-top: -37px;
    
    }

    img {
      padding: 15px 20px;
      width: 65px;
   
    }
  }
  &-2 {
    width: 397px;
    height: 218px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5%;
    position: relative;
    left: 1251px;
    bottom: 1286px;

    span {
      color: $blue;
      font-weight: bold;
    }
    p {
      font-size: 18px;
      padding: 20px;
      margin-top: -37px;

    }
    img {
      width: 65px;
      padding: 15px 20px;
 
    }
  }
}
  }

