@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hero {
  display: block;
  justify-content: space-between;
  padding-left: 163px;
  margin-top: -700px;
  line-height: 20px;
  @include breakpoint(desktop) {
    margin-top: -612px;
  }
  &_title {
    line-height: 75px;
    word-spacing: 1px;
    margin-top: 143px;
    margin-bottom: 25px;
    font-size: 64px;
    color: $blue;
    max-width: 45%;
    @include breakpoint(desktop) {
      font-size: 48px;
      line-height: 60px;
    }
  }
  &_subtitle {
    line-height: 41px;
    margin-bottom: 55px;
    color: $gray;
    font-size: 24px;
    max-width: 43%;
    @include breakpoint(desktop) {
      font-size: 18px;
      max-width: 47%;
      line-height: 30px;
      margin-bottom: 45px;
    }
  }

  &_woman img {
    position: relative;
    bottom: 585px;
    left: 222px;
    width: 80%;
    @include breakpoint(desktop) {
      bottom: 636px;
        left: 214px;
        width: 86%;
    }
  }

  &_buttons {
    display: flex;
    align-items: center;
    gap: 52px;
    margin-bottom: 43px;
    @include breakpoint(desktop) {
      margin-bottom: 208px;
      gap: 45px;
    }
  }

  &_productos {
    width: 35%;
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
    bottom: 900px;
    background-color: white;
    @include breakpoint(desktop) {
      gap: 10px;
    }
    &-img {
      width: 30%;
      margin-bottom: 26px;
      @include breakpoint(desktop) {
        width: 27%;
      }
    }
    &-title {
      font-family: $primary-font;
      font-weight: normal;
      font-size: 33px;
      color: $blue;
      margin-bottom: 26px;
    }
    &-subtitle {
      color: $gray;
      max-width: 65%;
    }
  }
}
.hero_productos li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.article {
  margin-top: 10px;
  &-1 {
    width: 358px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5%;
    position: relative;
    left: 1369px;
    bottom: 1346px;
    @include breakpoint(desktop) {
      width: 318px;
      height: 168px;
      left: 1140px;
      bottom: 1278px;
    }
    span {
      color: $blue;
      font-weight: bold;
    }
    p {
      font-size: 16px;
      padding: 20px;
      margin-top: -37px;
      @include breakpoint(desktop) {
        font-size: 14px;
      }
    }

    img {
      padding: 15px 20px;
      width: 65px;
    }
  }
  &-2 {
    width: 358px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5%;
    position: relative;
    left: 1251px;
    bottom: 1265px;
    @include breakpoint(desktop) {
      width: 318px;
      height: 168px;
      left: 1032px;
      bottom: 1217px;
    }
    span {
      color: $blue;
      font-weight: bold;
    }
    p {
      font-size: 16px;
      padding: 20px;
      margin-top: -37px;
      @include breakpoint(desktop) {
        font-size: 14px;
      }
    }
    img {
      width: 65px;
      padding: 15px 20px;
    }
  }
}
